
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.clearfix {
	DISPLAY: inline-block
}

.clearfix {
	DISPLAY: block
}
body
{
	font-family:Arial,'ËÎÌå','Î¢ÈíÑÅºÚ';
	font-size:12px;
	
}
a
{
	text-decoration:none;
	color:#6191d4;
}
a:hover,a:active
{
	text-decoration:underline;

}
a:visited
{
	
	color:#6191d4;
}
 
#in_con
{
	
	display:block;
	
	
}
#in_con #wraper
{
	border:1px solid #dadada;
	background:#eeeeee;
	line-height:25px;
	height:25px;
	padding:5px 10px;

	display:inline;
	cursor:pointer;


}
#in_con #wraper:hover {
	BACKGROUND: #f6f6f6
}

#in_con a span.title
{
		
	line-height:30px;
	padding-right:10px;
	background:url(ele.png) no-repeat right -2766px;
}
#in_con .select a span.title
{
	
	background:url(ele.png) no-repeat right -2786px;
}
#popup
{
	width:500px;
	border:1px solid #cccccc;
	padding:10px;
	position:absolute;
	left:0px;
	top:60px;
	background:white;
	z-index:1;
}
#indicatoritems
{
	display:block;
	margin:5px 0px;
}
#indicatoritems .item 
{
	width:120px;
	height:26px;
	line-height:26px;
	float:left;
}


#tip
{
	margin-top:5px;
	float:right;
	color:#ccc;
}

